/* css reset */

/* Set box-sizing to border-box for all elements */

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Reset margins and paddings on most elements */

body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, pre, blockquote, figure, hr {
  margin: 0;
  padding: 0;
}

/* Removes discs from ul */

ul {
  list-style: none;
}

input, textarea, select, button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

input, textarea, button {
  border: 1px solid gray;
}

/* Remove default underline for links */

a {
  text-decoration: none;
  color: inherit;
}

/* Fonts */

@font-face {
  font-family: 'Purisa';
  src: local('Purisa Oblique'), local('Purisa-Oblique'), url('../fonts/Purisa-Oblique.woff2') format('woff2'), url('../fonts/Purisa-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Purisa';
  src: local('Purisa Bold Oblique'), local('Purisa-BoldOblique'), url('../fonts/Purisa-BoldOblique.woff2') format('woff2'), url('../fonts/Purisa-BoldOblique.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Purisa';
  src: local('Purisa Bold'), local('Purisa-Bold'), url('../fonts/Purisa-Bold.woff2') format('woff2'), url('../fonts/Purisa-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Purisa';
  src: local('Purisa'), url('../fonts/Purisa.woff2') format('woff2'), url('../fonts/Purisa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgba(175, 204, 221, 0.5);
  color: #152A23;
  font-family: Purisa, sans-serif;
  font-size: 14px;
  font-style: italic;
}

/* Logo styles */

.logo {
  position: absolute;
  top: 1em;
  left: 1.3em;
  width: 30px;
  height: auto;
}

.logo-is-not-main-page {
  width: 20px;
}

/* Heading styles */

.main-heading {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.page-wrapper {
  display: block;
}

@media screen and (min-width: 751px) {
  .page-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.layout-main-content {
  /* display: none; */
  /* width: 100vw; */
  margin-top:5em;
  padding-left: 1em;
  padding-right: 1em;
}

@media screen and (min-width: 751px) {
  .layout-main-content {
    margin-top: 50px;
    width: 60vw;
    height: 90vh;
    overflow: auto;
  }
}

@media screen and (min-width: 900px) {
  .layout-main-content {
    width: 75vw;
  }
}

@media screen and (min-width: 960px) {
  .layout-main-content {
    width: 85vw;
  }
}

.main-page-content {
  display: none;
}

@media screen and (min-width: 751px) {
  .main-page-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about, .contacts {
  width: 40vw;
  /* font-family: 'Purisa Bold Oblique'; */
}

/* Menu styles */

.menu-tree {
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 200px;
}

.main-nav-menu {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  margin-right: 2em;
  position: relative;
  /* border: 1px solid; */
}

@media screen and (max-width: 750px) {
  .is-small-screens {
    display: none;
  }
}

.main-nav-menu-stem {
  position: absolute;
  bottom: 0;
  margin-left: calc(100% - 19em);
}

.top-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(175, 204, 221, 1);
}

.breadcrumbs-nav {
  padding: 1em 0 0 1em;
  margin-bottom: 1em;
}

@media screen and (min-width: 751px) {
  .breadcrumbs-nav {
    display: none;
  }
}

.breadcrumbs-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.breadcrumbs-nav-item {
  color: #545454;
  text-decoration: underline;
  font-size: 1.3em;
  font-weight: 700;
}

.breadcrumbs-nav-item:last-child {
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
}

.breadcrumbs-nav-item:last-child .breadcrumbs-nav-link::before {
  content: '\2794';
  padding-left: 3px;
  padding-right: 3px;
  vertical-align: baseline;
}

@media screen and (min-width: 960px) {
  .layout-page-content {
    display: block;
    width: 60vw;
  }
}

.main-nav-menu-text:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Menu leafs */

.main-nav-menu-leaf {
  position: absolute;
  fill: #3b5554;
  fill-rule: evenodd;
  stroke: #3b5554;
  stroke-width: 0.2769308;
  /* transition: fill 0.5s linear; */
  /* transition: all 1s cubic-bezier(.10, .10, .25, .90); */
  /* transition: stroke 0.5s linear; */
}

.main-nav-menu-leaf:hover {
  fill: rgba(170, 46, 0, 1);
  /* transition: fill 0.5s linear; */
}

.main-nav-menu-link:focus .main-nav-menu-leaf {
  stroke: rgba(170, 46, 0, 0.8);
  stroke-width: 2;
}

.main-nav-menu-leaf-text {
  fill: #D4D0AB;
  stroke: #ffffff;
  stroke-width: 0.01em;
  font-size: 0.9em;
  font-weight: bold;
  font-style: italic;
}

.leaf-item-home {
  top: calc(100% - 34em);
  left: calc(100% - 13em);
  width: 9em;
}

.leaf-item-home-text {
  font-size: 1em;
}

.leaf-item-home-text-sub {
  font-size: 0.85em;
}

.leaf-item-skills {
  top: calc(100% - 27.4em);
  left: calc(100% - 13em);
  width: 6em;
}

.leaf-item-work {
  top: calc(100% - 23.5em);
  left: calc(100% - 20em);
  width: 4.5em;
}

.leaf-item-github {
  top: calc(100% - 23em);
  left: calc(100% - 15.4em);
  width: 4em;
}

.leaf-item-github-text {
  font-size: 0.75em;
}

.leaf-item-linkedin {
  top: calc(100% - 19.5em);
  left: calc(100% - 16.7em);
  width: 4.5em;
}

.leaf-item-linkedin-text {
  font-size: 0.75em;
}

.leaf-item-about {
  top: calc(100% - 21em);
  left: calc(100% - 12em);
  width: 5em;
}

.leaf-item-contacts {
  top: calc(100% - 16.5em);
  left: calc(100% - 13em);
  width: 6.5em;
}

.leaf-item-contacts-text {
  font-size: 0.8em;
}

.leaf-item-assets {
  top: calc(100% - 30.5em);
  left: calc(100% - 3.9em);
  width: 4em;
}

.leaf-item-assets-text {
  font-style: normal;
}

.leaf-item-cv {
  top: calc(100% - 24.5em);
  left: calc(100% - 2em);
  width: 3em;
}

.leaf-item-cv-text {
  font-style: normal;
  font-size: 1em;
}

.leaf-item-license {
  top: calc(100% - 20.5em);
  left: calc(100% - 3em);
  width: 4em;
}

.leaf-item-license-text {
  font-size: 0.5em;
}

/* Styles for horizontal-oriented mobile devices. Without tablets */

@media screen and (min-height: 200px) and (max-height: 415px) {
  .page-wrapper {
    display: flex;
  }
  .logo, .logo-is-not-main-page {
    position: fixed;
  }
  .main-page-content {
    display: block;
    height: 100vh;
  }
  .main-nav-menu {
    width: 20vw;
  }
  .main-nav-menu-list {
    padding-left: 1em;
    border-left: 1px solid #3b5554;
  }
  .main-nav-menu-item {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    border-bottom: 1px solid #3b5554;
    color: #4169E1;
    font-weight: 700;
  }
  .main-nav-menu-stem, .main-nav-menu-leaf {
    display: none;
  }
  .main-nav-menu-text:not(:focus):not(:active) {
    position: static;
    -webkit-clip-path: none;
    clip-path: none;
  }
  .breadcrumbs-nav {
    width: 30vw;
  }
  .breadcrumbs-nav-list {
    position: fixed;
    top: 50px;
  }
}

@media screen and (min-width: 601px) {
  .main-nav-menu {
    margin-right: 3em;
  }
  .leaf-item-home {
    top: calc(100% - 35em);
    left: calc(100% - 13em);
  }
  .leaf-item-skills {
    top: calc(100% - 27.5em);
    left: calc(100% - 13em);
  }
  .leaf-item-work {
    top: calc(100% - 24em);
    left: calc(100% - 22em);
  }
  .leaf-item-github {
    top: calc(100% - 23.4em);
    left: calc(100% - 17em);
  }
  .leaf-item-linkedin {
    top: calc(100% - 20.1em);
    left: calc(100% - 18.5em);
  }
  .leaf-item-about {
    top: calc(100% - 22em);
    left: calc(100% - 13em);
  }
  .leaf-item-contacts {
    top: calc(100% - 17em);
    left: calc(100% - 14em);
  }
  .leaf-item-assets {
    top: calc(100% - 31em);
    left: calc(100% - 3.5em);
  }
  .leaf-item-cv {
    top: calc(100% - 25em);
    left: calc(100% - 1.5em);
  }
  .leaf-item-license {
    top: calc(100% - 21em);
    left: calc(100% - 2em);
  }
}

@media screen and (min-width: 960px) {
  .leaf-item-home {
    top: calc(100% - 35em);
    left: calc(100% - 13em);
  }
  .leaf-item-skills {
    top: calc(100% - 27.5em);
    left: calc(100% - 13.7em);
  }
  .leaf-item-work {
    top: calc(100% - 24em);
  }
  .leaf-item-github {
    top: calc(100% - 23.3em);
  }
  .leaf-item-linkedin {
    top: calc(100% - 20em);
  }
  .leaf-item-about {
    top: calc(100% - 22em);
  }
  .leaf-item-contacts {
    top: calc(100% - 17em);
  }
  .leaf-item-assets {
    top: calc(100% - 31em);
    left: calc(100% - 3.5em);
  }
  .leaf-item-cv {
    top: calc(100% - 25em);
    left: calc(100% - 1.5em);
  }
  .leaf-item-license {
    top: calc(100% - 21em);
    left: calc(100% - 2em);
  }
}

/* Contacts page styles */

.contacts-section {
  /* padding: 0 2em 0 1em; */
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contacts-list-item {
  display: inline-block;
  margin-bottom: 1em;
}

.contacts-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts-icon {
  width: 50px;
  margin-right: 0.5em;
}

.contacts-list-text {
  font-size: 1.2em;
  font-weight: 700;
  color: #152A23;
}